<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Time Difference Calculator</title>

    <link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='style.css') }}">

  </head>

  <h1>Time Tracker</h1>
  <p>Calculate the amount of time that has elapsed between two timestamps.</p>
  <p>Enter two timestamps into the form below and press submit or send a POST request containing JSON with two UTC timestamps to http://hagermosu.pythonanywhere.com/calculate_time</p>
  <body>
    <div class="container">

        <form method="post">
            <label for="fname">Start Time:</label><br>
            <input type="datetime-local" id="start_time" name="start_time"><br>
            <label for="lname">End Time:</label><br>
            <input type="datetime-local" id="end_time" name="end_time">
            <input type="submit" value="Submit">
          </form>
          <h5> {{ message }} {{ time_elapsed }} </h5>
    </div>


  </body>
  

