<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Seattle Marathon</title>

    <link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='style.css') }}">

  </head>

  <h1>Seattle Marathon Results</h1>


  <body>
    <div class="container">
        <p>Enter your first and last name to view your results from the race.</p>
        <form method="post">
            <label for="fname">First Name:</label><br>
            <input type="text" id="fname" name="fname"><br>
            <label for="lname">Last Name:</label><br>
            <input type="text" id="lname" name="lname">
            <input type="submit" value="Submit">
          </form>
          <h5> {{ message }} {{ time_elapsed }} </h5>
    </div>


  </body>
  

